@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.582),
      rgba(12, 8, 24, 0.904)
    );
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
    --imp-text-color: #c770f0;

    /* Scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: rgba(178, 121, 216, 0.959) #2d1950;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-scrollbar-track;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-scrollbar-thumb rounded-xl;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-scrollbar-hover rounded-xl;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navbar-link {
    @apply text-white px-4 py-2 font-normal transition-navbar relative z-10;
  }

  .navbar-link::after {
    @apply content-[''] relative block h-[5px] w-0 rounded-2xl bg-accent-purple bottom-[1px] left-0 -z-10 transition-navbar;
  }

  .navbar-link:hover::after {
    @apply w-full;
  }

  .tech-icons {
    @apply text-[4.5em] m-4 p-3 opacity-90 border-2 border-primary-purple/60 align-middle 
    text-center rounded table shadow-tech overflow-hidden transition-all duration-400;
  }

  .tech-icons:hover {
    @apply scale-105 border-[2.2px] border-primary-purple/90;
  }

  .social-icon {
    @apply relative inline-block w-10 h-10 text-center text-lg leading-8 
    bg-white/95 rounded-full transition-all duration-500;
  }

  .social-icon::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full rounded-full 
    bg-secondary-purple-dark transition-all duration-500 scale-90 -z-10;
  }

  .social-icon:hover::before {
    @apply scale-110 shadow-social;
  }
}
