// COLOR PALETTE
//airbnb red
$clr1: #fed136;
$clr2: snow;
$clr3: rgb(107, 106, 106);
$clr4: rgba(226, 226, 226, 0.363);
$clr5: rgb(30, 30, 30);
$clr6: rgb(231, 231, 231);
$clr7: #222222;
$clr8: #fec503;

//FONTS
$Montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$Kaushan: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
$Roboto: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$Droid: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// LAYOUT BREAKPOINTS

$break-narrow: 550px;
$break-normal: 768px;
$break-normal-wide: 992px;
$break-wide: 1210px;

// custom

$headerHeight: 70px;
$mobilePadding: 12px;
